
.social-link {
    font-size: 1.5em;
    color: #8B907C;
    text-decoration: none;
    -ms-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
    transition:all .5s ease-in;
    padding: .6em;
    font-size: .3vw;
    margin-bottom: 10px;
  }
.social-link:hover { 
      color:#c3c3e5; 
      border-bottom: 1.2px solid #c3c3e5;
  } 

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #8B907C;
    background-color: black;
  }

  h4 {
    font-size: .6vw;
    padding: .1vw;
  }

  h4.footer-header {
    font-size: 1vw;
  }
 
  @media screen and (max-width: 768px) {

    .main-footer{
      padding: 1vw;
    }

    h4 {
      font-size: 1.5vw;
      padding-top: .5vw;
      padding-bottom: 0;
    }

    h4.footer-header {
      font-size: 2vw;
    }

    .social-link {
      font-size: 1.2vw;
      padding: 0, .5vw;
    }
  }


 