
.social-link {
    font-size: 1.5em;
    color: #8B907C;
    text-decoration: none;
    -ms-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
    transition:all .5s ease-in;
    padding: 10px;
    font-size: 1vw;
    margin-bottom: 10px;
  }
.social-link:hover { 
      color:#c3c3e5; 
      border-bottom: 1.2px solid #c3c3e5;
  } 

.main-footer {
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #8B907C;
  }

.row {
    margin-bottom: 15px;
  }

  h4 {
    font-size: 2vw;
  }

  @media screen and (min-width: 1400px) {
    h4 {
      font-size: 1.8vw;
    }
  }
