.form-container {
  display: flex;
  justify-content: center;
  position: absolute;
}

.fieldset2 {
  width: 400px;
  border-radius: 15px;
  background-color: rgb(253, 253, 253);
  font-size: 20px;
  border: none;
  color: rgb(122, 102, 102);
}

.fieldset1 {
  display: none;
}

.legend1 {
  text-align: left;
  padding: 0 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}

/* .form-container button {
  margin-top: 75px;
  width: 390px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(205, 209, 190);
  color: rgb(122, 102, 102);
  font-weight: bold;
  font-size: 17px;
} */

.form-container input {
  width: 375px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(218, 216, 216);
  height: 30px;
  padding-left: 15px;
}

.signin-button {
  margin: 20px;
  color: rgba(0, 0, 0, 0.55);
}

.signin-button:hover {
  color: #c3c3e5;
  border-bottom: 1.2px solid #c3c3e5;
}
