.edit-form {
  margin-top: 125px;
}
.form-group {
  display: flex;
  justify-content: center;
}
.form-label {
  margin-right: 20px;
  font-size: large;
  margin: 5px;
}
.form-control {
  width: 70%;
  display: block;
  margin: 0 auto;
}

button {
  margin: 10px;
}
