.search {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    margin: 40px;
    border: none;
    width: 30vw;
    font-size: 1em;
    letter-spacing: 0.1px;
}

.search-input::placeholder {
    letter-spacing: .3px;
}